/* Base styles */

.image img {
  width: 100%;
  object-fit: cover;
}

.col {
  display: flex;
  justify-content: space-between;
  flex-direction: column; /* Default to column for mobile */
  gap: 16px;
}

.text {
  text-align: justify;
}

.video {
  text-align: center;
}

video {
  width: 100%;
}

.club {
  text-align: justify;
}

.club img {
  width: 100%;
  object-fit: cover;
}

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: 250px;
  height: 100%;
  background-color: #2a2a2d;
  text-align: center;
  color: white;
  padding: 15px;
  display: none; /* Hidden by default */
}

@media (max-width: 575px) {
  .psg {
    margin-top: 0px !important;
  }
}

/* SM: ≥ 576px */
@media (min-width: 576px) {
  .image,
  .text {
    flex: 1; /* Each takes up equal space */
  }
}

/* MD: ≥ 768px */
@media (min-width: 768px) {
  .image,
  .text {
    flex: 1; /* Each takes up equal space */
  }
}

/* LG: ≥ 992px */
@media (min-width: 992px) {
  .col {
    flex-direction: row; /* Change to row for larger screens */
  }

  .image {
    flex: 2; /* Each takes up equal space */
  }
  .text {
    flex: 1;
  }
}

/* XL: ≥ 1200px */
@media (min-width: 1200px) {
  .image {
    flex: 2; /* Each takes up equal space */
  }
  .text {
    flex: 1;
  }
}

@media (max-width: 1290px) {
  .psg {
    margin-top: -24px;
  }
}

/* XXL: ≥ 1400px */
@media (min-width: 1400px) {
  .image {
    flex: 2; /* Each takes up equal space */
  }
  .text {
    flex: 1;
  }
  .container {
    max-width: 800px;
  }
}
